<p-growl [value]="msgs"></p-growl>
<section class="addactivity">
    <div class="row">
    <div class="col-md-12">
      <ba-card title="Add Activity" baCardClass="with-scroll">
        <h4 class="grid-h"> Please Complete Full User Information</h4>
        <div class="row show-grid">
          <div class="col-12 col-sm-4" (click)="switchbox('activityType')"  style="cursor: pointer">
            <div> <img src="assets/img/theme/icon/kameleon/Programming.svg"> Activity Type</div>
          </div>
          <div *ngIf ="_completedStep == 1" class="col-12 col-sm-4" style="cursor:no-drop">
            <div> <img src="assets/img/theme/icon/kameleon/Clipboard-Plan.svg"> How In these Activity</div>
          </div>
          <div *ngIf ="_completedStep > 1" class="col-12 col-sm-4" (click)="switchbox('howActivity')" style="cursor: pointer">
            <div> <img src="assets/img/theme/icon/kameleon/Clipboard-Plan.svg"> How In these Activity</div>
          </div>
          <div *ngIf ="_completedStep == 1 || _completedStep == 2" class="col-12 col-sm-4" style="cursor:no-drop">
            <div> <img src="assets/img/theme/icon/kameleon/Laptop-Signal.svg"> About</div>
          </div>
          <div *ngIf ="_completedStep > 2" class="col-12 col-sm-4" (click)="switchbox('about')" style="cursor:no-drop" style="cursor: pointer">
            <div> <img src="assets/img/theme/icon/kameleon/Laptop-Signal.svg"> About</div>
          </div>
          
        </div>
      </ba-card>
      <div *ngIf="activityTypeVisibilty">
        <ba-card title="Activity Type Form" baCardClass="with-scroll">
          <form 
              [formGroup]="typeForm" 
              (ngSubmit)="onTypeSubmit(typeForm.value,typeForm.valid)" 
              novalidate 
              class="form-horizontal">
              <div class="form-group">
                <label for="exampleInputname1">Activity Type</label>
                <select class="form-control" formControlName="type" [(ngModel)]="_activityModel.type">
                    <option>hashtag</option>
                    <option>facebook</option>
                    <option>telegram</option>
                    <option>other</option>
                </select>
                <div [hidden]="typeForm.get('type').valid || (typeForm.get('type').pristine && !typeSubmitted)" class="alert alert-danger">
                    Type is required.
                </div>
              </div>
              <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </ba-card>
      </div>
      <div *ngIf="howActivityVisibilty">
        <ba-card title="Hows Activity" baCardClass="with-scroll">
          <form 
              [formGroup]="userSearchForm" 
              (ngSubmit)="onUserSearchSubmit(userSearchForm.value,userSearchForm.valid)" 
              novalidate 
              class="form-horizontal">

            <div class="form-group">
              <label for="exampleInputname1">user search</label>
              <div class="form-control" >
                <p-autoComplete 
                  formControlName="persons"
                  [(ngModel)]="_activityModel.persons" 
                  [suggestions]="filteredEmailsMultiple" 
                  (completeMethod)="filterEmailMultiple($event)" 
                  placeholder="Users" 
                  field="name"
                  [multiple]="true">
                </p-autoComplete>
                <ul>
                    <li *ngFor="let e of _activityModel.persons">{{e.name}}</li>
                </ul>
                <div [hidden]="userSearchForm.get('persons').valid || (userSearchForm.get('persons').pristine && !userSearchSubmitted)" class="alert alert-danger">
                      Persons is required.
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </ba-card>
      </div>
      <div *ngIf="aboutVisibilty">
        <ba-card title="About" baCardClass="with-scroll">
           <form 
              [formGroup]="aboutForm" 
              (ngSubmit)="onAboutSubmit(aboutForm.value,aboutForm.valid)" 
              novalidate 
              class="form-horizontal">
            <div class="form-group">
              <label for="exampleInputcity">Province</label>
              <select 
                  class="form-control" 
                  (change)="onChangeProvince($event.target.value)" 
                  [(ngModel)]="_activityModel.province" 
                  formControlName="province">
                  <option value="">-----Select----</option>
                  <option *ngFor="let pro of _provinceLists" [value]="pro.name">{{pro.name}}</option>
                </select>
              <div [hidden]="aboutForm.get('province').valid || (aboutForm.get('province').pristine && !aboutSubmitted)" class="alert alert-danger clear-fix">
                  province is required.
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputcity">District</label>
              <select 
                  class="form-control"
                  formControlName="district"
                  [(ngModel)]="_activityModel.district">
                  <option value="">-----Select----</option>
                  <option *ngFor="let dist of _districtOptionLists" [value]="dist">{{dist}}</option>
              </select>
              <div [hidden]="aboutForm.get('district').valid || (aboutForm.get('district').pristine && !aboutSubmitted)" class="alert alert-danger clear-fix">
                  district is required.
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputcity">Area</label>
              <select 
                  class="form-control"
                  formControlName="area"
                  [(ngModel)]="_activityModel.area">
                  <option value="">-----Select----</option>
                  <option *ngFor="let areas of _areaOptionLists" [value]="areas">{{areas}}</option>
              </select>
              <div [hidden]="aboutForm.get('area').valid || (aboutForm.get('area').pristine && !aboutSubmitted)" class="alert alert-danger clear-fix">
                  area is required.
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputcity">Tittle</label>
              <input type="text" [(ngModel)]="_activityModel.name" formControlName="name" class="form-control">
              <div [hidden]="aboutForm.get('name').valid || (aboutForm.get('name').pristine && !aboutSubmitted)" class="alert alert-danger clear-fix">
                  name is required.
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputcity">Url</label>
              <input type="text" pattern="https?://.+" [(ngModel)]="_activityModel.url" formControlName="url" class="form-control">
              <div [hidden]="aboutForm.get('url').valid || (aboutForm.get('url').pristine && !aboutSubmitted)" class="alert alert-danger clear-fix">
                    url is not valid.
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputcity">profile Image</label>
              <p-fileUpload
                name="sampleFile" 
                url="/api/upload/" 
                accept="image/*"
                multiple="multiple"
                (onUpload)="onUploadPhoto($event)" 
                auto="true" 
                showButtons="false">
              </p-fileUpload>
              <input 
                  class="form-control" 
                  type="hidden" 
                  formControlName="profileimage"
                  [(ngModel)]="_activityModel.profileimage">

              <!--<img 
                  class="img-responsive" 
                  src="http://localhost:4200/assets/{{_activityModel.profileimage}}" 
                  style="height: 150px; width: 150px">-->

              <img 
                  class="img-responsive" 
                  src="http://52.163.113.185:3000/assets/{{_activityModel.profileimage}}" 
                  style="height: 150px; width: 150px">

              <div [hidden]="aboutForm.get('profileimage').valid || (aboutForm.get('profileimage').pristine && !aboutSubmitted)" class="alert alert-danger clear-fix">
                    profileimage is required.
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputcity">Description</label>
              <p-editor [(ngModel)]="_activityModel.description" formControlName="description" [style]="{'height':'320px'}"></p-editor>
              <div [hidden]="aboutForm.get('description').valid || (aboutForm.get('description').pristine && !aboutSubmitted)" class="alert alert-danger">
                    description is required.
              </div>
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </ba-card>
      </div>
    </div>
  </div>
</section>
