<section class="addAdmin">
  <div class="col-sm-4 col-6">
    <button type="button" class="btn btn-success btn-raised">Add New Field</button> 
    <button style="margin-left: 10px;" type="button" class="btn btn-success btn-raised">Add New Section</button>
  </div>  
  <div class="row">
    <div class="col-md-12">
      <ba-card title="CREATE A NEW ADMIN" baCardClass="with-scroll">
        <h4 class="grid-h">Please Complete Full User Information</h4>
        <div class="row show-grid">
          <div class="col-12 col-sm-4" (click)="switchbox('information')" style="cursor: pointer">
            <div> <img src="assets/img/theme/icon/kameleon/Boss-3.svg"> Information</div>
          </div>
          <div *ngIf ="_completedStep == 1" class="col-12 col-sm-4" style="cursor:no-drop">
            <div> <img src="assets/img/theme/icon/kameleon/Checklist.svg"> Username & Password</div>
          </div>
          <div *ngIf ="_completedStep > 1" class="col-12 col-sm-4" (click)="switchbox('usernamepassword')" style="cursor: pointer">
            <div> <img src="assets/img/theme/icon/kameleon/Checklist.svg"> Username & Password</div>
          </div>

          <div *ngIf ="_completedStep == 1 || _completedStep == 2" class="col-12 col-sm-4" style="cursor:no-drop">
            <div> <img src="assets/img/theme/icon/kameleon/Key.svg"> Control Access</div>
          </div>
          <div *ngIf ="_completedStep > 2" class="col-12 col-sm-4" (click)="switchbox('controlaccess')" style="cursor: pointer">
            <div> <img src="assets/img/theme/icon/kameleon/Key.svg"> Control Access</div>
          </div>
          
        </div>
      </ba-card>
      <div *ngIf="informationVisibilty">
        <ba-card title="Information Form" baCardClass="with-scroll">
          <form>
            <div class="form-group">
              <label for="exampleInputname1">Full Name</label>
              <input type="text" class="form-control" id="exampleInputfullname" placeholder="Full Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEduction">Eduction</label>
              <input type="text" class="form-control" id="exampleInputeduction" placeholder="Eduction">
            </div>
            <div class="form-group">
              <label for="exampleInputcity">City</label>
              <input type="text" class="form-control" id="exampleInputcity" placeholder="City">
            </div>
            <div class="form-group">
              <label for="exampleInputcity">State</label>
              <input type="text" class="form-control" id="exampleInputstate" placeholder="State">
            </div>
            <div class="form-group">
              <label for="exampleInputcity">Birthday</label>
              <input type="text" class="form-control" id="exampleInputbirthday" placeholder="Birthday">
            </div>
            <div class="form-group">
              <label for="exampleInputcity">Phone Number</label>
              <input type="text" class="form-control" id="exampleInputphonenumber" placeholder="Phone Number">
            </div>
            <div class="form-group">
              <label for="exampleInputcity">Upload Profile Image</label>
              <ba-file-uploader [fileUploaderOptions]="fileUploaderOptions"></ba-file-uploader>
            </div>
          </form>
          
          <div class="btn-group-example" style="margin:20px">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success" (click)="switchbox('usernamepassword')">Next</button>
            </div>
          </div>
        </ba-card>
        
      </div>
      <div *ngIf="usernamepasswordVisibilty" >
        <ba-card title="Username & password Form" baCardClass="with-scroll">
          <form>
            <div class="form-group">
              <label for="exampleInputname1">Email</label>
              <input type="email" class="form-control" id="exampleInputemail" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputEduction">Username</label>
              <input type="text" class="form-control" id="exampleInputusername" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="exampleInputcity">Password</label>
              <input type="password" class="form-control" id="exampleInputpassword" placeholder="Password">
            </div>
          </form>
          <div class="btn-group-example" style="margin:20px">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-warning" (click)="switchbox('information')">Back </button>
              <button type="button" class="btn btn-success" (click)="switchbox('controlaccess')">Next</button>
            </div>
          </div>
        </ba-card>
      </div>
      <div *ngIf="accesscontrolVisibilty">
        <ba-card title="Username & password Form" baCardClass="with-scroll">
          <form>
            <div class="form-group">
              <label for="exampleInputcity">ACL</label>
              <div class="input-demo checkbox-demo row">
                <div class="input-demo radio-demo row">
                    <div class="col-md-4">
                      <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="Create a new admin">
                        <span translate>Create a new admin</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="Create a new person">
                        <span>Create a new person</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="Create a new activity">
                        <span>Create a new activity</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="View User History">
                        <span>View User History</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="View report page">
                        <span>View report page</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="View Manage person page">
                        <span>View Manage person page</span>
                      </label>
                    </div>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputcity">This admin can create and view just in this state or city category</label>
              <select class="form-control" multiple>
                <optgroup label="Alaskan/Hawaiian Time Zone">
                  <option>Alaska</option>
                  <option>Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                  <option>California</option>
                  <option>Nevada</option>
                  <option>Oregon</option>
                  <option>Washington</option>
                </optgroup>
              </select>
            </div>
          </form>
          <div class="btn-group-example" style="margin:20px">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-warning" (click)="switchbox('usernamepassword')">Back </button>
              <button type="button" class="btn btn-success" (click)="switchbox('information')">Finish</button>
            </div>
          </div>
        </ba-card>
      </div>
    </div>
  </div>
</section>