<section class="adduser">
  <div class="row">
                  <div class="col-lg-2 col-sm-4 col-xs-12"><button class="btn btn-block btn-success btn-rounded">Add New Feild</button></div>
                  <div class="col-lg-2 col-sm-4 col-xs-12"><button class="btn btn-block btn-success btn-rounded">Add New Section</button></div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="white-box">
                        <h3 class="box-title m-b-0">Create A New Admin</h3>
                        <p class="text-muted m-b-30 font-13"> Please Complete Full User Information</p>
                        <div id="exampleValidator" class="wizard">
                           <ul role="tablist" class="wizard-steps">
                              <li role="tab" class="active">
                                 <h4><span><i class="ti-user"></i></span>Information</h4>
                              </li>
                              <li role="tab">
                                 <h4><span><i class="ti-credit-card"></i></span>Username & Password</h4>
                              </li>
                              <li role="tab">
                                 <h4><span><i class="ti-check"></i></span>Access Control Level</h4>
                              </li>
                           </ul>
                           <form id="validation" class="form-horizontal">
                              <div class="wizard-content">
                                 <div role="tabpanel" class="wizard-pane active">
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">Full Name</label>
                                       <div class="col-xs-5"><input type="text" name="fullname" class="form-control"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">Edection</label>
                                       <div class="col-xs-5"><input type="text" name="edection" class="form-control"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">City</label>
                                       <div class="col-xs-5"><input type="text" name="city" class="form-control"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">State</label>
                                       <div class="col-xs-5"><input type="text" name="state" class="form-control"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">Birthday</label>
                                       <div class="col-xs-5"><input type="text" name="birthday" class="form-control"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">Phone Number</label>
                                       <div class="col-xs-5"><input type="text" name="number" class="form-control"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">Upload Profile Image</label>
                                       <div class="col-xs-5">
                                          <div class="fileupload btn btn-info waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Upload</span><input type="file" class="upload"></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div role="tabpanel" class="wizard-pane">
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">Email address</label>
                                       <div class="col-xs-5"><input type="text" name="email" class="form-control"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">Username</label>
                                       <div class="col-xs-5"><input type="text" name="username" class="form-control"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">Password</label>
                                       <div class="col-xs-5"><input type="password" name="password" class="form-control"></div>
                                    </div>
                                 </div>
                                 <div role="tabpanel" class="wizard-pane">
                                    <div class="form-group">
                                       <label class="col-xs-3 control-label">ACL</label>
                                       <div class="col-12">
                                          <div class="checkbox checkbox-success"><input id="checkbox1" type="checkbox"><label for="checkbox1"> Create a new admin</label></div>
                                          <div class="checkbox checkbox-success"><input id="checkbox2" type="checkbox"><label for="checkbox2"> Create a new person</label></div>
                                          <div class="checkbox checkbox-success"><input id="checkbox3" type="checkbox"><label for="checkbox3">Create a new activity</label></div>
                                          <div class="checkbox checkbox-success"><input id="checkbox4" type="checkbox"><label for="checkbox4">View User History</label></div>
                                          <div class="checkbox checkbox-success"><input id="checkbox5" type="checkbox"><label for="checkbox5">View report page</label></div>
                                          <div class="checkbox checkbox-success"><input id="checkbox6" type="checkbox"><label for="checkbox6">View Manage person page</label></div>
                                       </div>
                                       <div class="form-group">
                                          <label class="col-xs-3 control-label">This admin can create and view just in this state or city category</label>
                                          <div class="col-12">
                                             <select multiple="multiple" data-placeholder="Choose" class="select2 m-b-10 select2-multiple">
                                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                                   <option value="AK">Alaska</option>
                                                   <option value="HI">Hawaii</option>
                                                </optgroup>
                                                <optgroup label="Pacific Time Zone">
                                                   <option value="CA">California</option>
                                                   <option value="NV">Nevada</option>
                                                   <option value="OR">Oregon</option>
                                                   <option value="WA">Washington</option>
                                                </optgroup>
                                             </select>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
</section>
