<section class="userhistory">
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6">
      <ba-card title="Latest USER ACTIVITY" baCardClass="with-scroll button-panel">
          <h3 class="box-title">Last User Activity</h3>
          <div class="row show-grid">
            <div class="col-12 ">
              <div *ngFor="let audit of _auditLists"> <i class="fa fa-user-circle-o"></i> {{audit.activity}} <span class="text-muted">Just Now</span></div> <br>
            </div>
          </div>
      </ba-card>
    </div>
  </div>
</section>
