<section class="userhistory">
  <div class="row">
                  <div class="col-lg-4 col-md-12">
                     <div class="white-box">
                        <h3 class="box-title">Last User Activity</h3>
                        <ul class="feeds">
                           <li>
                              <div class="bg-info"><i class="ti-user text-white"></i></div>
                              you add a new person<span class="text-muted">Just Now</span>
                           </li>
                           <li>
                              <div class="bg-info"><i class="ti-user text-white"></i></div>
                              you add a new person<span class="text-muted">1 Hours</span>
                           </li>
                           <li>
                              <div class="bg-info"><i class="ti-user text-white"></i></div>
                              you add a new person<span class="text-muted">2 Hours</span>
                           </li>
                           <li>
                              <div class="bg-purple"><i class="ti-settings text-white"></i></div>
                              You change profile info<span class="text-muted">27 May</span>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xs-12">
                     <div class="white-box">
                        <div id="myfirstchart" style="height: 250px;"></div>
                     </div>
                  </div>
               </div>
</section>
