<section class="managepeople">
  <div class="row">
                  <div class="col-lg-2 col-sm-4 col-xs-12"><a href="person_table.html"><button class="btn btn-block btn-success btn-rounded">Table View</button></a></div>
               </div>
               <div class="row">
                  <div class="col-md-12 col-lg-4 col-xs-12">
                     <div class="white-box">
                        <div class="user-bg">
                           <img src="plugins/images/large/img1.jpg" alt="user" style="100%">
                           <div class="overlay-box">
                              <div class="user-content">
                                 <a href="people_selected.html"><img alt="img" src="plugins/images/users/genu.jpg" class="thumb-lg img-circle"></a>
                                 <h4 class="text-white">User Name</h4>
                                 <h5 class="text-white">info@myadmin.com</h5>
                              </div>
                           </div>
                        </div>
                        <div class="user-btm-box">
                           <div class="row">
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-purple"><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></p>
                              </div>
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-blue"><a href="https://www.twitter.com/"><i class="ti-twitter"></i></a></p>
                              </div>
                              <div class="stats-row col-md-12 m-t-20 m-b-0 text-center">
                                 <div class="stat-item">
                                    <h6>Contact info</h6>
                                    <b><i class="ti-mobile"></i> 123-456-7890</b>
                                 </div>
                                 <div class="stat-item">
                                    <h6>Number Of Point</h6>
                                    <b>1,200</b>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-4 col-xs-12">
                     <div class="white-box">
                        <div class="user-bg">
                           <img src="plugins/images/large/img1.jpg" alt="user" style="100%">
                           <div class="overlay-box">
                              <div class="user-content">
                                 <a href="people_selected.html"><img alt="img" src="plugins/images/users/genu.jpg" class="thumb-lg img-circle"></a>
                                 <h4 class="text-white">User Name</h4>
                                 <h5 class="text-white">info@myadmin.com</h5>
                              </div>
                           </div>
                        </div>
                        <div class="user-btm-box">
                           <div class="row">
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-purple"><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></p>
                              </div>
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-blue"><a href="https://www.twitter.com/"><i class="ti-twitter"></i></a></p>
                              </div>
                              <div class="stats-row col-md-12 m-t-20 m-b-0 text-center">
                                 <div class="stat-item">
                                    <h6>Contact info</h6>
                                    <b><i class="ti-mobile"></i> 123-456-7890</b>
                                 </div>
                                 <div class="stat-item">
                                    <h6>Number Of Point</h6>
                                    <b>1,200</b>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-4 col-xs-12">
                     <div class="white-box">
                        <div class="user-bg">
                           <img src="plugins/images/large/img1.jpg" alt="user" style="100%">
                           <div class="overlay-box">
                              <div class="user-content">
                                 <a href="people_selected.html"><img alt="img" src="plugins/images/users/genu.jpg" class="thumb-lg img-circle"></a>
                                 <h4 class="text-white">User Name</h4>
                                 <h5 class="text-white">info@myadmin.com</h5>
                              </div>
                           </div>
                        </div>
                        <div class="user-btm-box">
                           <div class="row">
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-purple"><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></p>
                              </div>
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-blue"><a href="https://www.twitter.com/"><i class="ti-twitter"></i></a></p>
                              </div>
                              <div class="stats-row col-md-12 m-t-20 m-b-0 text-center">
                                 <div class="stat-item">
                                    <h6>Contact info</h6>
                                    <b><i class="ti-mobile"></i> 123-456-7890</b>
                                 </div>
                                 <div class="stat-item">
                                    <h6>Number Of Point</h6>
                                    <b>1,200</b>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-4 col-xs-12">
                     <div class="white-box">
                        <div class="user-bg">
                           <img src="plugins/images/large/img1.jpg" alt="user" style="100%">
                           <div class="overlay-box">
                              <div class="user-content">
                                 <a href="people_selected.html"><img alt="img" src="plugins/images/users/genu.jpg" class="thumb-lg img-circle"></a>
                                 <h4 class="text-white">User Name</h4>
                                 <h5 class="text-white">info@myadmin.com</h5>
                              </div>
                           </div>
                        </div>
                        <div class="user-btm-box">
                           <div class="row">
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-purple"><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></p>
                              </div>
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-blue"><a href="https://www.twitter.com/"><i class="ti-twitter"></i></a></p>
                              </div>
                              <div class="stats-row col-md-12 m-t-20 m-b-0 text-center">
                                 <div class="stat-item">
                                    <h6>Contact info</h6>
                                    <b><i class="ti-mobile"></i> 123-456-7890</b>
                                 </div>
                                 <div class="stat-item">
                                    <h6>Number Of Point</h6>
                                    <b>1,200</b>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-4 col-xs-12">
                     <div class="white-box">
                        <div class="user-bg">
                           <img src="plugins/images/large/img1.jpg" alt="user" style="100%">
                           <div class="overlay-box">
                              <div class="user-content">
                                 <a href="people_selected.html"><img alt="img" src="plugins/images/users/genu.jpg" class="thumb-lg img-circle"></a>
                                 <h4 class="text-white">User Name</h4>
                                 <h5 class="text-white">info@myadmin.com</h5>
                              </div>
                           </div>
                        </div>
                        <div class="user-btm-box">
                           <div class="row">
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-purple"><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></p>
                              </div>
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-blue"><a href="https://www.twitter.com/"><i class="ti-twitter"></i></a></p>
                              </div>
                              <div class="stats-row col-md-12 m-t-20 m-b-0 text-center">
                                 <div class="stat-item">
                                    <h6>Contact info</h6>
                                    <b><i class="ti-mobile"></i> 123-456-7890</b>
                                 </div>
                                 <div class="stat-item">
                                    <h6>Number Of Point</h6>
                                    <b>1,200</b>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-4 col-xs-12">
                     <div class="white-box">
                        <div class="user-bg">
                           <img src="plugins/images/large/img1.jpg" alt="user" style="100%">
                           <div class="overlay-box">
                              <div class="user-content">
                                 <a href="people_selected.html"><img alt="img" src="plugins/images/users/genu.jpg" class="thumb-lg img-circle"></a>
                                 <h4 class="text-white">User Name</h4>
                                 <h5 class="text-white">info@myadmin.com</h5>
                              </div>
                           </div>
                        </div>
                        <div class="user-btm-box">
                           <div class="row">
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-purple"><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></p>
                              </div>
                              <div class="col-md-6 col-sm-6 text-center">
                                 <p class="text-blue"><a href="https://www.twitter.com/"><i class="ti-twitter"></i></a></p>
                              </div>
                              <div class="stats-row col-md-12 m-t-20 m-b-0 text-center">
                                 <div class="stat-item">
                                    <h6>Contact info</h6>
                                    <b><i class="ti-mobile"></i> 123-456-7890</b>
                                 </div>
                                 <div class="stat-item">
                                    <h6>Number Of Point</h6>
                                    <b>1,200</b>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
</section>
