<section class="managepeople">
  <div class="row">
    <div class="col-lg-2 col-sm-4 col-xs-12"><a><button class="btn btn-block btn-success btn-rounded" (click)="switchView()"><span *ngIf="cardViewVisibilty">Go to Table View</span><span *ngIf="!cardViewVisibilty">Go to Card View</span> </button></a></div>
  </div>

  <div class="row" *ngIf="cardViewVisibilty">
    <div class="col-md-12 col-lg-4 col-xs-12" *ngFor="let ppl of _peoplelist">
      
      <ba-card title="{{ppl.fullname}}" baCardClass="with-scroll">
        <div class="user-bg text-center">
          <div class="overlay-box">
            <div class="user-content">
              <a href="people_selected.html">
                <img *ngIf="ppl.profile_picture" alt="img" src="{{serverPath}}/{{ppl.profile_picture}}" class="thumb-lg img-circle img-width-130">
                <img *ngIf="!ppl.profile_picture" alt="img" src="assets/img/app/profile/Vlad.png" class="thumb-lg img-circle img-width-130">
              </a>
              <h4 class="text-white">{{ppl.full_name}}</h4>
              <h5 class="text-white"> {{ppl.email}} </h5>
            </div>
          </div>
        </div>
        <div class="user-btm-box">
          <div class="row">
            <div class="col-md-6 col-sm-6 text-center">
              <p class="text-purple">
                <a href="{{ppl.facebook_url}}">
                  <i class="socicon">b</i>
                </a>
              </p>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
              <p class="text-blue">
                <a href="{{ppl.twitter_url}}">
                  <i class="socicon">a</i>
                </a>
              </p>
            </div>
            <div class="stats-row col-md-12 m-t-20 m-b-0 text-center">
              <div class="stat-item">
                <h6>Contact info</h6>
                <b><i class="ion-android-call"></i> {{ppl.contact_number}} </b>
              </div>
              <div class="stat-item">
                <h6>Number Of Point</h6>
                <b>{{ppl.points}}</b>
              </div>
            </div>
          </div>
        </div>
      </ba-card>
    </div>
    <div class="col-md-12 col-lg-4 col-xs-12" *ngIf="showPeopleList" >
       <ba-card title="No Records" baCardClass="with-scroll">
          No Records Found
       </ba-card>
    </div>
  </div>

  <div class="row" *ngIf="!cardViewVisibilty">
    <ba-card title="Users Detail" baCardClass="with-scroll">
      <p-dataTable #dt [value]="_peoplelist" exportFilename="peopleinfo" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <p-header>
          <div class="ui-helper-clearfix">
            <button class="btn btn-small btn-rounded" type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left">CSV</button>
          </div>
        </p-header>

        <p-column *ngFor="let fields of _fieldLists" field="{{fields.labelname}}" header="{{fields.displayname}}" [sortable]="true"></p-column>
      </p-dataTable>
    </ba-card>
  </div>
</section>