<section class="manageactivity">
    <p-growl [value]="msgs"></p-growl>
    <p-confirmDialog></p-confirmDialog>
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="margin-bottom: 20px;"> 
                <div class="col-sm-3" >
                    <select
                        id="activitytype"
                        (change)="onChangeType($event.target.value)"
                        class="form-control">
                        <option value="" selected>---- Select Type ----</option>
                        <option value="hashtag">hashtag</option>
                        <option value="facebook">facebook</option>
                        <option value="telegram">telegram</option>
                        <option value="other">other</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select
                        id="provice"
                        (change)="onChangeProvince($event.target.value)"
                        class="form-control">
                        <option value="">---- Select Provice ----</option>
                        <option *ngFor="let pro of _provinceLists" [value]="pro.name">{{pro.name}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select 
                        id="district"
                        (change)="onChangeDistrict($event.target.value)"
                        class="form-control">
                        <option value="">---- Select District ----</option>
                        <option *ngFor="let dist of _districtOptionLists" [value]="dist">{{dist}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select 
                        id="area"
                        (change)="onChangeArea($event.target.value)"
                        class="form-control">
                        <option value="">---- Select Area ----</option>
                        <option *ngFor="let areas of _areaOptionLists" [value]="areas">{{areas}}</option>
                    </select>
                </div>
            </div>
            <ba-card title="Activity Timeline" baCardClass="with-scroll">
                <ul class="timeline">
                    <!--<li><div class="tldate">Apr 2014</div></li>-->
                    <li *ngFor="let act of _allActivites" [class]="act.customClass">
                        <div class="tl-circ"></div>
                        <div class="timeline-panel">
                            <div class="tl-heading">
                            <h4 (click)="detail(act._id)" style="cursor: pointer;">{{act.name}}</h4>
                            <a class="pull-right ng2-smart-action ng2-smart-action-delete-delete" style="cursor: pointer; margin-left: 10px;color: #285eb8;text-decoration: none !important;transition: color 0.2s ease;" (click)="delete(act._id)"><i class="ion-trash-a"></i></a>
                            <a class="pull-right ng2-smart-action ng2-smart-action-edit-edit" (click)="edit(act._id)" style="cursor: pointer; color: #285eb8;text-decoration: none !important;transition: color 0.2s ease;"><i class="ion-edit"></i></a>
                            <p (click)="detail(act._id)" style="cursor: pointer;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{act.customSinceTime}} </small></p>
                            </div>
                            <div class="tl-body" (click)="detail(act._id)" style="cursor: pointer;">
                                <p [innerHTML]="act.description" style="color:cornflowerblue"></p>
                                <p><img *ngIf="!act.images" src="assets/img/developers/img1.jpg" style="height: 300px; width: 550px;" alt="lorem pixel" class="img-responsive"></p>
                                <p><img *ngIf="act.images" src="{{serverPath}}/{{act.images[0]['imagevalue']}}" style="height: 300px; width: 550px;" alt="lorem pixel" class="img-responsive"></p>
                            </div>
                            
                        </div>
                    </li>
                </ul>
            </ba-card>
        </div>
    </div>
</section>
