<section class="addpeople">
  <p-growl [value]="msgs"></p-growl>
  <div class="col-sm-4 col-6">
    <button type="button" class="btn btn-success btn-raised" data-toggle="modal" data-target="#myModalAddFields" data-backdrop="static" data-keyboard="false">Add New Field</button> 
  </div> 
  <div class="widgets">
    <div class="row">
      <div class="col-md-10">
        <ba-card title="CREATE NEW PERSON ENTRY" baCardClass="with-scroll">
            <form 
              *ngIf="dynamicForm"
              (ngSubmit)="onDynamicFormSubmit(dynamicForm.value, dynamicForm.valid)" 
              [formGroup]="dynamicForm" 
              novalidate>
              <div *ngFor="let fields of fieldLists" class="form-group">
                <div [ngSwitch]="fields.fieldtype">
                  <label for="exampleInputname1">{{fields.displayname}}</label>
                  <div *ngSwitchCase="'text'">
                    <input class="form-control" type="text" [formControlName]="fields.labelname" [(ngModel)]="fields.value">
                  </div>
                  <div *ngSwitchCase="'long_text'">
                    <textarea class="form-control" [formControlName]="fields.labelname" [(ngModel)]="fields.value">
                    </textarea>
                  </div>
                  <div *ngSwitchCase="'image'">
                    <input type="file" class="form-control" [formControlName]="fields.labelname" [(ngModel)]="fields.value">
                  </div>
                  <div *ngSwitchCase="'list'">
                      <select 
                        class="form-control"
                        [formControlName]="fields.labelname" 
                        [(ngModel)]="fields.value">
                      <option value="">--- Select ---</option>
                      <option *ngFor="let opt of fields.lookupdata" [value]="opt.key">{{opt.value}}</option>
                      
                    </select>
                  </div>
                  <div *ngSwitchCase="'multi_selected_list'">
                      <select 
                        class="form-control" 
                        [formControlName]="fields.labelname" 
                        [(ngModel)]="fields.value"
                        multiple>
                      <option value="">--- Select ---</option>
                    </select>
                  </div>
                  <div *ngSwitchCase="'checkbox'">
                      <div *ngFor="let look of lookupdata">
                        <input type="checkbox" [formControlName]="fields.labelname" [(ngModel)]="fields.value"> {{look.value}}
                      </div>
                  </div>
                  <div *ngSwitchCase="'point'">
                      <input type="text" [formControlName]="fields.labelname" [(ngModel)]="fields.value">
                  </div>
                  <div *ngSwitchCase="'url'">
                      <div class="input-group">
                        <span class="input-group-addon addon-left input-group-addon-success">http://wwww.</span>
                        <input aria-label="Amount (to the nearest dollar)" class="form-control with-success-addon" type="text">
                        <span class="input-group-addon addon-right input-group-addon-success">.com</span>
                      </div>
                  </div>
                  <div *ngSwitchCase="'map'">
                      <input type="text" [formControlName]="fields.labelname" [(ngModel)]="fields.value">
                  </div>
                  <div 
                    class="alert alert-danger" 
                    [hidden]="dynamicForm.get([fields.labelname]).valid || (dynamicForm.get([fields.labelname]).pristine && !dynamicSubmitted)">
                    * {{fields.displayname}} is required
                  </div>
                </div>
              </div>
              <input type="submit" value="submit">
          </form>
        </ba-card>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div id="myModalAddFields" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    
    <div class="modal-content main_cls">
      <div class="modal-header">
        <h4 class="modal-title">Add Fields</h4>
        <button class="close" aria-label="Close" id="closeAddFields" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
              <ba-card>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value,form.valid)" novalidate class="form-horizontal">
                  <div class="form-group">
                    <label for="input01">Field</label>
                    <select 
                        class="form-control" 
                        formControlName="fieldtype" 
                        [(ngModel)]="_fieldsModel.fieldtype" 
                        (ngModelChange)="onChange($event)">
                      <option value="text">Text</option>
                      <option value="long_text">Long text</option>
                      <option value="image">Image</option>
                      <option value="list">List</option>
                      <option value="multi_selected_list">Multi selected List</option>
                      <option value="checkbox">Checkbox</option>
                      <option value="point">Point</option>
                      <option value="url">url</option>
                      <option value="map">Location in the map</option>
                    </select>
                    <div [hidden]="form.get('fieldtype').valid || (form.get('fieldtype').pristine && !submitted)" class="alert alert-danger">
                        fieldtype is required.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="input01">Display Name</label>
                    <input type="text" class="form-control form-control-lg" formControlName="displayname" [(ngModel)]="_fieldsModel.displayname" placeholder="Display Name">
                    <div [hidden]="form.get('displayname').valid || (form.get('displayname').pristine && !submitted)" class="alert alert-danger">
                        displayname is required.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="input01">Label Name</label>
                    <input type="text" class="form-control form-control-lg" formControlName="labelname" [(ngModel)]="_fieldsModel.labelname"  placeholder="Label Name">
                    <div [hidden]="form.get('labelname').valid || (form.get('labelname').pristine && !submitted)" class="alert alert-danger">
                        labelname is required.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="input01">Mandatory field</label>
                    <div class="input-demo radio-demo row">
                    <div class="col-md-4">
                      <label class="radio-inline custom-radio nowrap">
                        <input id="inlineRadio1" checked formControlName="isMandatory" [(ngModel)]="_fieldsModel.isMandatory" type="radio" value="0">
                        <span translate="">Yes</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="radio-inline custom-radio nowrap">
                        <input id="inlineRadio2" formControlName="isMandatory" [(ngModel)]="_fieldsModel.isMandatory" type="radio" value="1">
                        <span>No</span>
                      </label>
                    </div>
                  </div>
                  <div [hidden]="form.get('isMandatory').valid || (form.get('isMandatory').pristine && !submitted)" class="alert alert-danger">
                        isMandatory is required.
                    </div>
                  </div>
                  <div class="form-group" *ngIf="_lookupVisibiity">
                    <label for="input01">LookUp</label>
                    <textarea class="form-control form-control-lg" formControlName="lookupdata" [(ngModel)]="_fieldsModel.lookupdata"> </textarea>
                    <div [hidden]="form.get('lookupdata').valid || (form.get('lookupdata').pristine && !submitted)" class="alert alert-danger">
                        lookupdata is required.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="input01">Description</label>
                    <textarea class="form-control form-control-lg" formControlName="description" [(ngModel)]="_fieldsModel.description"> </textarea>
                    <div [hidden]="form.get('description').valid || (form.get('description').pristine && !submitted)" class="alert alert-danger">
                        description is required.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="input01">Field Order</label>
                    <input type="text" class="form-control form-control-lg" formControlName="formorder" [(ngModel)]="_fieldsModel.formorder" placeholder="Field Order">
                    <div [hidden]="form.get('formorder').valid || (form.get('formorder').pristine && !submitted)" class="alert alert-danger">
                        formorder is required.
                    </div>
                  </div>
                  <button class="btn btn-success" type="submit">Send</button>
                </form>
              </ba-card>
            </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" data-dismiss="modal">Save changes</button>
      </div>
    </div>
    
  </div>
</div>
