<section class="">
  <div class="row">
    <div class="col-md-10">
      <ba-card title="User Count for Province" baCardClass="with-scroll">
        <!--<div class="row">-->
        <form [formGroup]="formProvinceCount" name="formProvinceCount" class="row">
          <div class="col-sm-3">

            <select class="form-control" formControlName="province" id="province" (change)="onChange($event.target.value)" [(ngModel)]="_ProvinceCountModel.province">
                    <option value="">--Select Province--</option>
                    <option [value]="p.name" *ngFor="let p of provinceList">{{p.name}}</option>
                    <!--<option value="Baghdad">Baghdad</option>-->
                  </select>

          </div>
          <!--<div class="col-sm-3">

            <select class="form-control" formControlName="district" id="district" [(ngModel)]="_AreaCountModel.district">
                    <option value="">--Select District--</option>
                    <option [value]="p.district" *ngFor="let p of districtListforDD">{{p.district}}</option>
            </select>

          </div>
          <div class="col-sm-3">

            <select class="form-control" formControlName="area" id="area" [(ngModel)]="_AreaCountModel.area">
                    <option value="">--Select Area--</option>
                    <option [value]="p.area" *ngFor="let p of areaListforDD">{{p.area}}</option>
            </select>

          </div>-->
          <div class="col-sm-2">
            <!--<input type="number" min="0" [disabled]="!_DistrictCountModel.area" formControlName="count" id="count" [value]="" class="form-control"
              placeholder="Count" [(ngModel)]="_AreaCountModel.count">-->
            <input type="number" min="0" formControlName="count" id="count" [value]="" class="form-control" placeholder="Count" [(ngModel)]="_ProvinceCountModel.count">
          </div>
          <div class="col-sm-1">
            <button [disabled]="!_ProvinceCountModel.count ||!_ProvinceCountModel.province " (click)="addProvinceCountSettings()" type="button"
              class="btn btn-danger btn-icon"><i class="ion-plus"></i></button>
            <!--<button (click)="addAreaCountSettings()" type="button" class="btn btn-danger btn-icon"><i class="ion-plus"></i></button>-->
          </div>
        </form>
        <!--</div>-->
        <div class="row">
          <div class="col-md-12">
            <ba-card class="pie-chart-item-container col-md-12">
              <div class="horizontal-scroll">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <!--<th class="table-id">#</th>-->
                      <th>Province</th>
                      <!--<th>District</th>
                      <th>Area</th>-->
                      <th>Count</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of provinceCountSettingsList">
                      <!--<td class="table-id">{{ item.id }}</td>-->
                      <td>{{ item.province }}</td>
                      <!--<td>{{ item.district }}</td>
                      <td>{{ item.area }}</td>-->
                      <td>{{ item.count }}</td>
                      <td><button (click)="removeProvinceCountSettings(item)" type="button" class="btn btn-danger btn-icon"><i class="ion-minus"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ba-card>
          </div>
        </div>
      </ba-card>
    </div>
    <div class="col-md-10">
      <ba-card title="User Count for District" baCardClass="with-scroll">
        <!--<div class="row">-->
        <form [formGroup]="formDistrictCount" name="formDistrictCount" class="row">
          <div class="col-sm-3">

            <select class="form-control" formControlName="province" id="province" (change)="onChange($event.target.value)" [(ngModel)]="_DistrictCountModel.province">
                    <option value="">--Select Province--</option>
                    <option [value]="p.name" *ngFor="let p of provinceList">{{p.name}}</option>
                    <!--<option value="Baghdad">Baghdad</option>-->
                  </select>

          </div>
          <div class="col-sm-3">

            <select class="form-control" formControlName="district" id="district" [(ngModel)]="_DistrictCountModel.district">
                    <option value="">--Select District--</option>
                    <option [value]="p.district" *ngFor="let p of districtListforDD">{{p.district}}</option>
                    <!--<option value="Baghdad">Baghdad</option>
                    <option value="Sadr">Sadr</option>-->
                  </select>

          </div>

          <div class="col-sm-2">
            <!--<input type="number" min="0" [disabled]="!_DistrictCountModel.district" formControlName="count" id="count" [value]="" class="form-control"
              placeholder="Count" [(ngModel)]="_DistrictCountModel.count">-->
            <input type="number" min="0" formControlName="count" id="count" [value]="" class="form-control" placeholder="Count" [(ngModel)]="_DistrictCountModel.count">
          </div>
          <div class="col-sm-1">
            <button [disabled]="!_DistrictCountModel.count || !_DistrictCountModel.district || !_DistrictCountModel.province" (click)="addDistrictCountSettings()"
              type="button" class="btn btn-danger btn-icon"><i class="ion-plus"></i></button>

          </div>
        </form>
        <!--</div>-->
        <div class="row">
          <div class="col-md-12">
            <ba-card class="pie-chart-item-container col-md-12">
              <div class="horizontal-scroll">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <!--<th class="table-id">#</th>-->
                      <th>Province</th>
                      <th>District</th>
                      <th>Count</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of districtCountSettingsList">
                      <!--<td class="table-id">{{ item.id }}</td>-->
                      <td>{{ item.province }}</td>
                      <td>{{ item.district }}</td>
                      <td>{{ item.count }}</td>
                      <td><button (click)="removeDistrictCountSettings(item)" type="button" class="btn btn-danger btn-icon"><i class="ion-minus"></i></button></td>
                      <!--<td>
                    <button ngClass="{status-button btn btn-xs btn-{{ item.status }}">{{ item.status }}</button>
                  </td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
            </ba-card>
          </div>
        </div>
      </ba-card>
    </div>
    <div class="col-md-10">
      <ba-card title="User Count for Area" baCardClass="with-scroll">
        <!--<div class="row">-->
        <form [formGroup]="formAreaCount" name="formAreaCount" class="row">
          <div class="col-sm-3">

            <select class="form-control" formControlName="province" id="province" (change)="onChange($event.target.value)" [(ngModel)]="_AreaCountModel.province">
                    <option value="">--Select Province--</option>
                    <option [value]="p.name" *ngFor="let p of provinceList">{{p.name}}</option>
                    <!--<option value="Baghdad">Baghdad</option>-->
                  </select>

          </div>
          <div class="col-sm-3">

            <select class="form-control" formControlName="area" id="area" [(ngModel)]="_AreaCountModel.area">
                    <option value="">--Select Area--</option>
                    <option [value]="p.area" *ngFor="let p of areaListforDD">{{p.area}}</option>
                    <!--<option value="Baghdad">Baghdad</option>
                    <option value="Sadr">Sadr</option>-->
                  </select>

          </div>

          <div class="col-sm-2">
            <!--<input type="number" min="0" [disabled]="!_DistrictCountModel.district" formControlName="count" id="count" [value]="" class="form-control"
              placeholder="Count" [(ngModel)]="_DistrictCountModel.count">-->
            <input type="number" min="0" formControlName="count" id="count" [value]="" class="form-control" placeholder="Count" [(ngModel)]="_AreaCountModel.count">
          </div>
          <div class="col-sm-1">
            <button [disabled]="!_AreaCountModel.count || !_AreaCountModel.area || !_AreaCountModel.province" (click)="addAreaCountSettings()"
              type="button" class="btn btn-danger btn-icon"><i class="ion-plus"></i></button>

          </div>
        </form>
        <!--</div>-->
        <div class="row">
          <div class="col-md-12">
            <ba-card class="pie-chart-item-container col-md-12">
              <div class="horizontal-scroll">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <!--<th class="table-id">#</th>-->
                      <th>Province</th>
                      <th>Area</th>
                      <th>Count</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of areaCountSettingsList">
                      <!--<td class="table-id">{{ item.id }}</td>-->
                      <td>{{ item.province }}</td>
                      <td>{{ item.area }}</td>
                      <td>{{ item.count }}</td>
                      <td><button (click)="removeAreaCountSettings(item)" type="button" class="btn btn-danger btn-icon"><i class="ion-minus"></i></button></td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </ba-card>
          </div>
        </div>
      </ba-card>
    </div>
    <form [formGroup]="formSetting" name="formSetting" class="row">
      <div class="col-md-10">
        <ba-card title="User Count for Social Accounts" baCardClass="with-scroll">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label for="facebook" class="col-sm-4 control-label">Facebook User Count</label>
                <div class="col-sm-6">
                  <input type="number" min="0" formControlName="facebookUserCount" id="facebook" name="facebook" [value]="" class="form-control"
                    placeholder="Count" [(ngModel)]="_SettingModel.userCountofSocial.facebookUserCount">
                </div>
              </div>
              <div class="form-group row">
                <label for="whatsApp" class="col-sm-4 control-label">WhatsApp User Count</label>
                <div class="col-sm-6">
                  <input type="number" min="0" formControlName="whatsAppUserCount" id="whatsApp" name="whatsApp" [value]="" class="form-control"
                    placeholder="Count" [(ngModel)]="_SettingModel.userCountofSocial.whatsAppUserCount">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label for="twitter" class="col-sm-4 control-label">Twitter User Count</label>
                <div class="col-sm-6">
                  <input type="number" min="0" formControlName="twitterUserCount" id="twitter" name="twitter" [value]="" class="form-control"
                    placeholder="Count" [(ngModel)]="_SettingModel.userCountofSocial.twitterUserCount">
                </div>
              </div>
              <div class="form-group row">
                <label for="telegram" class="col-sm-4 control-label">Telegram User Count</label>
                <div class="col-sm-6">
                  <input type="number" min="0" formControlName="telegramUserCount" id="telegram" name="telegram" [value]="" class="form-control"
                    placeholder="Count" [(ngModel)]="_SettingModel.userCountofSocial.telegramUserCount">
                </div>
              </div>
            </div>
            <!--<div class="col-sm-12">
            <button (click)="editCancel('gender')" type="button" class="btn btn-danger btn-icon"><i class="ion-plus"></i> ADD</button>
           
          </div>-->
          </div>
        </ba-card>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <ba-card title="Points Reward For Admin" baCardClass="with-scroll">

              <div class="horizontal-scroll">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label for="addPersonPointsAdmin" class="col-sm-4 control-label">Add Person</label>
                      <div class="col-sm-6">
                        <input type="number" min="0" formControlName="addPersonPointsAdmin" id="addPersonPointsAdmin" name="addPersonPointsAdmin" [value]="" class="form-control" placeholder="Count"
                          [(ngModel)]="_SettingModel.addPersonPointsAdmin">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="addPointPointsAdmin" class="col-sm-4 control-label">Add Points</label>
                      <div class="col-sm-6">
                        <input type="number" min="0" formControlName="addPointPointsAdmin" id="addPointPointsAdmin" name="addPointPointsAdmin" [value]="" class="form-control" placeholder="Count"
                          [(ngModel)]="_SettingModel.addPointPointsAdmin">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label for="addActivityPointsAdmin" class="col-sm-4 control-label">Add Activity</label>
                      <div class="col-sm-6">
                        <input type="number" min="0" formControlName="addActivityPointsAdmin" id="addActivityPointsAdmin" name="addActivityPointsAdmin" [value]="" class="form-control" placeholder="Count"
                          [(ngModel)]="_SettingModel.addActivityPointsAdmin">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="addhashtagPoints" class="col-sm-4 control-label">Hashtag Points</label>
                      <div class="col-sm-6">
                        <input type="number" min="0" formControlName="addhashtagPoints" id="addhashtagPoints" name="addhashtagPoints" [value]="" class="form-control" placeholder="Count"
                          [(ngModel)]="_SettingModel.addhashtagPoints">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label for="addfacebookPoints" class="col-sm-4 control-label">Facebook Points</label>
                      <div class="col-sm-6">
                        <input type="number" min="0" formControlName="addfacebookPoints" id="addfacebookPoints" name="addfacebookPoints" [value]="" class="form-control" placeholder="Count"
                          [(ngModel)]="_SettingModel.addfacebookPoints">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="addOtherPoints" class="col-sm-4 control-label">Other Points</label>
                      <div class="col-sm-6">
                        <input type="number" min="0" formControlName="addOtherPoints" id="addOtherPoints" name="addOtherPoints" [value]="" class="form-control" placeholder="Count"
                          [(ngModel)]="_SettingModel.addOtherPoints">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">

                    <div class="form-group row">
                      <label for="addtelegramPoints" class="col-sm-4 control-label">Telegram Points</label>
                      <div class="col-sm-6">
                        <input type="number" min="0" formControlName="addtelegramPoints" id="addtelegramPoints" name="addtelegramPoints" [value]="" class="form-control" placeholder="Count"
                          [(ngModel)]="_SettingModel.addtelegramPoints">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ba-card>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <ba-card class="pie-chart-item-container col-md-12">
              <div class="horizontal-scroll">
                <div class="form-group row">
                  <label for="total" class="col-sm-2 control-label">Total User Count</label>
                  <div class="col-sm-6">
                    <input type="number" min="0" formControlName="noOfUsers" id="total" name="total" [value]="" class="form-control" placeholder="Count"
                      [(ngModel)]="_SettingModel.noOfUsers">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="webSite" class="col-sm-2 control-label">Name of WebSite</label>
                  <div class="col-sm-6">
                    <input type="text" formControlName="websiteTitle" id="webSite" name="webSite" [value]="" class="form-control" placeholder="WebSite Name"
                      [(ngModel)]="_SettingModel.websiteTitle">
                  </div>
                </div>
              </div>
            </ba-card>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <ba-card class="pie-chart-item-container col-md-12">
              <div class="col-sm-6">
                <button (click)="saveSettings(formSetting.value,formSetting.valid)" type="button" class="btn btn-danger btn-icon">Save Settings</button>
              </div>
            </ba-card>
          </div>
        </div>
      </div>
    </form>

  </div>

</section>
<p-growl [value]="msgs"></p-growl>