<section class="usernameprofile">
  <div class="widgets">
  <p-growl [value]="msgs"></p-growl>
  <div class="row">
    <div class="col-md-10">
      <ba-card title="USER PROFILE" baCardClass="with-scroll">
          <form class="form-horizontal">
              <div *ngFor="let fields of fieldLists">
                  <div class="form-group row" [ngSwitch]="fields.fieldtype">
                    <label for="inputEmail3" class="col-sm-4 form-control-label">{{fields.displayname}}</label>
                    <div *ngSwitchCase="'text'" class="col-sm-4">
                      <div *ngIf="fields.labelname == 'points'">
                          <span> {{fields.value}} </span>
                      </div>
                      <div *ngIf="fields.labelname !== 'points'">
                          <span *ngIf="!fields.visiblity" style="cursor: pointer"  (click)="edit(fields.labelname)"> {{fields.value}} </span>
                          <a *ngIf="!fields.visiblity"  (click)="edit(fields.labelname)" style="cursor: pointer; margin-left: 20px;"> <i class="ion-edit"></i> </a>
                          <input *ngIf="fields.visiblity" [id]="fields.labelname" class="form-control" type="text" [value]="fields.value">
                          <button *ngIf="fields.visiblity" (click)="editSave(fields.labelname, fields.fieldtype)" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                          <button *ngIf="fields.visiblity" (click)="editCancel(fields.labelname)" type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button>
                      </div>
                    </div>
                    <div *ngSwitchCase="'long_text'" class="col-sm-4">
                      <span *ngIf="!fields.visiblity" style="cursor: pointer"  (click)="edit(fields.labelname)"> {{fields.value}} </span>
                      <a *ngIf="!fields.visiblity"  (click)="edit(fields.labelname)" style="cursor: pointer; margin-left: 20px;"> <i class="ion-edit"></i> </a>
                      <textarea  *ngIf="fields.visiblity" [id]="fields.labelname" class="form-control" [value]="fields.value"></textarea>
                      <button *ngIf="fields.visiblity" (click)="editSave(fields.labelname, fields.fieldtype)" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                      <button *ngIf="fields.visiblity" (click)="editCancel(fields.labelname)" type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button>
                    </div>
                    <div *ngSwitchCase="'image'" class="col-sm-4">
                      <!--<img id="imagePath_{{fields.labelname}}" class="img-responsive" style="height: 150px; width: 150px">-->
                      <p-fileUpload 
                      name="sampleFile" 
                      url="/api/upload/" 
                      accept="image/*"
                      multiple="multiple"
                      (onUpload)="onUploadPhoto($event, fields.labelname)" 
                      auto="true" 
                      showButtons="false"
                      *ngIf="fields.visiblity">
                    </p-fileUpload>
                    <input 
                        class="form-control" 
                        type="hidden" 
                        id="image_{{fields.labelname}}">
                    <img 
                        id="imagePath_{{fields.labelname}}" 
                        class="img-responsive" 
                        style="height: 150px; width: 150px">
                    
                    <input *ngIf="fields.visiblity" type="button" class="btn btn-danger" (click)="removeImage(fields.labelname)" value="Remove">

                      <!--<span *ngIf="!fields.visiblity" style="cursor: pointer"  (click)="edit(fields.labelname)"> {{fields.value}} </span>-->
                      <a *ngIf="!fields.visiblity"  (click)="edit(fields.labelname)" style="cursor: pointer; margin-left: 20px;"> <i class="ion-edit"></i> </a>
                      <!--<input  *ngIf="fields.visiblity" [id]="fields.labelname" type="file" class="form-control" [value]="fields.value">-->
                      <!-- <button  *ngIf="fields.visiblity" (click)="editSave(fields.labelname)" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                      <button  *ngIf="fields.visiblity" (click)="editCancel(fields.labelname)" type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button> -->
                    </div>
                    <div *ngSwitchCase="'list'" class="col-sm-4">
                      <span *ngIf="!fields.visiblity" style="cursor: pointer"  (click)="edit(fields.labelname)"> {{fields.value}} </span>
                      <a *ngIf="!fields.visiblity"  (click)="edit(fields.labelname)" style="cursor: pointer; margin-left: 20px;"> <i class="ion-edit"></i> </a>
                      <div *ngIf="fields.labelname == 'province'">
                        <select
                              [id]="fields.labelname"
                               *ngIf="fields.visiblity"
                              (change)="onChangeProvince($event.target.value)"
                              class="form-control"
                              [value]="fields.value">
                            <option value="">--- Select ---</option>
                            <option *ngFor="let opt of _provinceLists" [value]="opt.name">{{opt.name}}</option>
                          </select>
                      </div>
                      <div *ngIf="fields.labelname == 'district'">
                        <select 
                              [id]="fields.labelname"
                               *ngIf="fields.visiblity"
                              class="form-control"
                              [value]="fields.value">
                            <option value="">--- Select ---</option>
                            <option *ngFor="let opt of _districtOptionLists" [value]="opt">{{opt}}</option>
                          </select>
                      </div>
                      <div *ngIf="fields.labelname == 'area'">
                        <select 
                              [id]="fields.labelname"
                               *ngIf="fields.visiblity"
                              class="form-control"
                              [value]="fields.value">
                            <option value="">--- Select ---</option>
                            <option *ngFor="let opt of _areaOptionLists" [value]="opt">{{opt}}</option>
                          </select>
                      </div>
                      <div *ngIf="fields.labelname !== 'province' && fields.labelname !== 'district' && fields.labelname !== 'area'">
                          <select 
                              [id]="fields.labelname"
                               *ngIf="fields.visiblity"
                              class="form-control"
                              [value]="fields.value">
                            <option value="">--- Select ---</option>
                            <option *ngFor="let opt of fields.lookupdata" [value]="opt.key">{{opt.value}}</option>
                          </select>
                      </div>
                      <button  *ngIf="fields.visiblity" (click)="editSave(fields.labelname, fields.fieldtype)" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                      <button  *ngIf="fields.visiblity" (click)="editCancel(fields.labelname)" type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button>
                    </div>
                    <div *ngSwitchCase="'multi_selected_list'" class="col-sm-4">
                      <span *ngIf="!fields.visiblity" style="cursor: pointer"  (click)="edit(fields.labelname)"> {{fields.value}} </span>
                      <a *ngIf="!fields.visiblity"  (click)="edit(fields.labelname)" style="cursor: pointer; margin-left: 20px;"> <i class="ion-edit"></i> </a>
                      <select 
                          [id]="fields.labelname"
                          *ngIf="fields.visiblity"
                          class="form-control" 
                          [value]="fields.value"
                          multiple>
                        <option value="">--- Select ---</option>
                      </select>
                      <button  *ngIf="fields.visiblity" (click)="editSave(fields.labelname, fields.fieldtype)" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                      <button  *ngIf="fields.visiblity" (click)="editCancel(fields.labelname)" type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button>
                    </div>
                    <div *ngSwitchCase="'checkbox'" class="col-sm-4">
                      <span *ngIf="!fields.visiblity" style="cursor: pointer"  (click)="edit(fields.labelname)"> {{fields.value}} </span>
                      <a *ngIf="!fields.visiblity"  (click)="edit(fields.labelname)" style="cursor: pointer; margin-left: 20px;"> <i class="ion-edit"></i> </a>
                      <div *ngFor="let look of lookupdata">
                        <input [id]="fields.labelname" *ngIf="fields.visiblity" type="checkbox" class="form-control" [value]="fields.value"> {{look.value}}
                      </div>
                      <button  *ngIf="fields.visiblity" (click)="editSave(fields.labelname, fields.fieldtype)" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                      <button  *ngIf="fields.visiblity" (click)="editCancel(fields.labelname)" type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button>
                    </div>
                    <div *ngSwitchCase="'point'" class="col-sm-4">
                       <span *ngIf="!fields.visiblity" style="cursor: pointer"> {{fields.value}} </span>
                      <!--<span *ngIf="!fields.visiblity" style="cursor: pointer"  (click)="edit(fields.labelname)"> {{fields.value}} </span>-->
                      <!--<a *ngIf="!fields.visiblity"  (click)="edit(fields.labelname)" style="cursor: pointer; margin-left: 20px;"> <i class="ion-edit"></i> </a>-->
                      <!--<input [id]="fields.labelname" *ngIf="fields.visiblity" type="text" class="form-control" [value]="fields.value">
                      <button  *ngIf="fields.visiblity" (click)="editSave(fields.labelname)" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                      <button  *ngIf="fields.visiblity" (click)="editCancel(fields.labelname)" type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button>-->
                    </div>
                    <div *ngSwitchCase="'url'" class="col-sm-4">
                      <span *ngIf="!fields.visiblity" style="cursor: pointer"  (click)="edit(fields.labelname)"> {{fields.value}} </span>
                      <a *ngIf="!fields.visiblity"  (click)="edit(fields.labelname)" style="cursor: pointer; margin-left: 20px;"> <i class="ion-edit"></i> </a>
                      <input [id]="fields.labelname" *ngIf="fields.visiblity" type="text" class="form-control" [value]="fields.value">
                      <button  *ngIf="fields.visiblity" (click)="editSave(fields.labelname, fields.fieldtype)" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                      <button  *ngIf="fields.visiblity" (click)="editCancel(fields.labelname)" type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button>
                    </div>
                    <div *ngSwitchCase="'map'" class="col-sm-4">
                      <span *ngIf="!fields.visiblity" style="cursor: pointer"  (click)="edit(fields.labelname)"> {{fields.value}} </span>
                      <a *ngIf="!fields.visiblity"  (click)="edit(fields.labelname)" style="cursor: pointer; margin-left: 20px;"> <i class="ion-edit"></i> </a>
                      <input [id]="fields.labelname" *ngIf="fields.visiblity" type="text" class="form-control" [value]="fields.value">
                      <button *ngIf="fields.visiblity" (click)="editSave(fields.labelname, fields.fieldtype)" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                      <button *ngIf="fields.visiblity" (click)="editCancel(fields.labelname)" type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button>
                    </div>
                  </div>
              </div>
          </form>
      </ba-card>
    </div>
  </div>
</div>
</section>
