
@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}
 @media screen and (max-width: 767px)  {
    .col-xs-12 {
      max-width: 100% !important;
      flex: 0 0 100% !important;
    }
  }
.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}
@media screen and (max-width: 1023px) {
    .col-sm-chart-12 {
    -moz-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    }
}
  