<section class="addactivity">
  <div class="row">
    <div class="col-sm-12">
        <div class="white-box">
        <h3 class="box-title m-b-0">Add Activity</h3>
        <p class="text-muted m-b-30 font-13"> Please Complete Full User Information</p>
        <div id="exampleValidator" class="wizard">
            <ul role="tablist" class="wizard-steps">
                <li role="tab" class="active">
                    <h4><span><i class="ti-credit-card"></i></span>Activity Type</h4>
                </li>
                <li role="tab">
                    <h4><span><i class="ti-check"></i></span>How In these Activity</h4>
                </li>
                <li role="tab">
                    <h4><span><i class="ti-credit-card"></i></span>About</h4>
                </li>
            </ul>
            <form id="validation" class="form-horizontal">
                <div class="wizard-content">
                    <div role="tabpanel" class="wizard-pane active">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Activty Type</label>
                        <div class="col-xs-12">
                            <select data-style="form-control" class="selectpicker">
                                <option>hashtag</option>
                                <option>facebook</option>
                                <option>telegram</option>
                                <option>other</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div role="tabpanel" class="wizard-pane">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">user search</label>
                        <div class="col-xs-5"><input type="text" name="email" class="form-control"></div>
                    </div>
                    </div>
                    <div role="tabpanel" class="wizard-pane">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">about</label>
                        <div class="col-xs-5"></div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
</section>
