<p-growl [(value)]="msgs"></p-growl>
<section class="addactivity">
    <div class="row">
    <div class="col-md-12">
      <ba-card title="Add Activity" baCardClass="with-scroll">
        <h4 class="grid-h"> Please Complete Full User Information</h4>
        <div class="row show-grid">
          <div class="col-12 col-sm-4" (click)="switchbox('activityType')">
            <div> <img src="assets/img/theme/icon/kameleon/Programming.svg"> Activity Type</div>
          </div>
          <div class="col-12 col-sm-4" (click)="switchbox('howActivity')">
            <div> <img src="assets/img/theme/icon/kameleon/Clipboard-Plan.svg"> How In these Activity</div>
          </div>
          <div class="col-12 col-sm-4" (click)="switchbox('about')">
            <div> <img src="assets/img/theme/icon/kameleon/Laptop-Signal.svg"> About</div>
          </div>
          
        </div>
      </ba-card>
      <div *ngIf="activityTypeVisibilty">
        <ba-card title="Activity Type Form" baCardClass="with-scroll">
          <form>
            <div class="form-group">
              <label for="exampleInputname1">Activty Type</label>
              <select class="form-control">
                  <option>hashtag</option>
                  <option>facebook</option>
                  <option>telegram</option>
                  <option>other</option>
              </select>
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </ba-card>
      </div>
      <div *ngIf="howActivityVisibilty">
        <ba-card title="Username & password Form" baCardClass="with-scroll">
          <form>
            <div class="form-group">
              <label for="exampleInputname1">user search</label>
              <input type="email" class="form-control" id="exampleInputemail" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </ba-card>
      </div>
      <div *ngIf="aboutVisibilty">
        <ba-card title="Username & password Form" baCardClass="with-scroll">
          <form>
            <div class="form-group">
              <label for="exampleInputcity">About</label>
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </ba-card>
      </div>
    </div>
  </div>
</section>
